{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    
</head>
<body>       
    <section>
      <nav class="navbar  fixed-top" id="navbarhr">
        <div class="container-fluid">
            <a class="navbar-brand" href="" id="navbarlogo">RH GalaxyStore</a>
            
                <img src="{% static 'images/4x.png' %}" id="usuario" width="30" height="24">
                <span class="justify-content-end" id="usuariot">Usuario</span> 
            
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </section>


    <div class="d-flex justify-content-center" id="contenidopag1">
        <div class="container text-center">
            <h3>Buenos Días Usuario!</h3>
            <div class="container text-center">
                <div class="row">
                  
                    <div class="col" id="colpag">
                        <div class="card mb-3" id="cardprin">
                            <a href="api/empleado"><img src="{% static 'images/Usuarios.png' %}" class="card-img-top" id="cardimg" alt="..."></a>
                            <div class="card-body">
                              <h5 class="card-title">Usuarios</h5>
                              <p id="pcardbody">Listado de usuarios, apartado de administración y etc.</p>
                            </div>
                          </div>
                          
                    </div>
                  
                    <div class="col" id="colpag">
                        <div class="card mb-3" id="cardprin">
                            <a href=""><img src="{% static 'images/Cursos.png' %}" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                              <h5 class="card-title">Cursos</h5>
                              <p id="pcardbody">Administración de cursos disponibles.</p>
                            </div>
                          </div>
                          
                    </div>

                    <div class="col" id="colpag">
                        <div class="card mb-3" id="cardprin">
                            <a href=""><img src="{% static 'images/Salarios.png' %}" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                              <h5 class="card-title">Salarios</h5>
                              <p id="pcardbody">Apartado de usuarios con salario detallado.</p>
                            </div>
                          </div>
                          
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="d-flex justify-content-center" id="contenidopag2">
        <div class="container text-center">
            <div class="row">
              
                <div class="col" id="colpag">
                    <h3>Administración</h3>
                    <div class="list-group">
                        <a href="api/empleado" class="list-group-item list-group-item-action" id="admincol">Usuarios Ventas</a>
                        <a href="#" class="list-group-item list-group-item-action" id="admincol">Usuarios HR</a>
                        <a href="#" class="list-group-item list-group-item-action" id="admincol">Noticias</a>
                      </div>
                </div>
              
                <div class="col" id="colpag">
                    <h3>Noticias</h3>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action" id="noticiast">Usuarios Ventas</a>
                        <a href="#" class="list-group-item list-group-item-action" id="noticiast">Usuarios HR</a>
                        <a href="#" class="list-group-item list-group-item-action" id="noticiast">Noticias</a>
                    </div>
                </div>
            </div>
        </div>




    </div>

    <div class="d-flex justify-content-center" id="contenidopag2">
        <div class="container text-center">
            <h3>¿No encuentras lo que necesitas?</h3>
            <p id="pcontenido">Accede al apartado de soporte para mas detalles sobre la aplicación y los apartados</p>
            <div class="d-grid gap-2">
                <a href="" class="d-grid gap-2"><button class="btn btn-primary" type="button">Acceder a apartado de soporte</button></a>
            </div>
        </div>
    </div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>